<!DOCTYPE html>
<html ng-app="matcha">
    <head>
        <base href="/" />
        <title>Matcha</title>
        <link rel='stylesheet' href='/css/style.css' />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-sanitize.min.js"></script>
    </head>
    <body>
        <header-zone></header-zone>
        <ng-view></ng-view>
        <script src="app.bundle.js"></script>
    </body>
</html>
