
<div class="view" ng-controller="registerController">
  <div ng-show="registerView[0]" class="view-container">
    <!-- Form container -->
    <form name="regForm">
        <h2>Créer un compte</h2>

        <!-- Connexion ID -->
        <div class="register-window">
            <div class="register-container">
                <div class="register-first" ng-style="{'margin-left': stepMove}">
                    <h3>Je suis</h3>
                    <label><input type="radio" ng-model="user.sex" value="1">Un homme</label>
                    <label><input type="radio" ng-model="user.sex" value="2">Une femme</label>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.sex)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Je veux une relation avec</h3>
                    <select class="form-control select-null-value" ng-model="user.sexOrientation" required>
                        <option value='' disabled selected>Orientation sexuelle</option>
                        <option value="1">Une femme</option>
                        <option value="2">Un homme</option>
                        <option value="3">Les deux</option>
                    </select>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.sexOrientation)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Mon prénom</h3>
                    <input type="text" class="form-control" name="firstname" placeholder="Prénom" ng-model="user.fn" required></br>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.fn)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Mon nom</h3>
                    <input type="text" class="form-control" name="secondname" placeholder="Nom" ng-model="user.sn" required></br>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.sn)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Je suis né le</h3>
                    <select class="form-control select-null-value" ng-model="date.day" required >
                        <option value='' disabled selected>Jour</option>
                        <option ng-repeat="day in ldays">{{day}}</option>
                    </select>
                    <select class="form-control select-null-value" ng-model="date.month" ng-disabled="!date.day" required >
                        <option value='' disabled selected>Mois</option>
                        <option ng-repeat="month in lmonths" value="{{month.nb}}">{{month.name}}</option>
                    </select>
                    <select class="form-control select-null-value" ng-model="date.year" ng-disabled="!date.month" ng-change="getYear()" required >
                        <option value='' disabled selected>Année</option>
                        <option ng-repeat="year in lyears">{{year}}</option>
                    </select>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(date.year)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Mon pseudo est</h3>
                    <input type="text" class="form-control" name="pseudo" placeholder="Pseudo" ng-model="user.pseudo" ng-change="checkPseudo()" required><div class="error form-control-err" ng-show="pseudoValidity"><img src="img/del.png"/> Ce pseudo est déja enregistré.</div></br>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.pseudo)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Mon email est</h3>
                    <input type="email" class="form-control" name="email" placeholder="E-mail" ng-model="user.mail" ng-change="checkEmail()" required><div class="error form-control-err" ng-show="emailValidity"><img src="img/del.png"/> Cet e-mail est déja enregistré.</div></br>
                    </br>
                    </br>
                    <img class="btn-valid" src="/img/edit-valid.png" ng-click="nextStep(user.mail)"/>
                    <img class="btn-valid" src="/img/edit-cancel.png" />
                </div>
                <div class="register-box">
                    <h3>Mon mot de passe </h3>
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe" ng-model="user.password" required>
                    </br>
                    </br>
                    <button type="button" class="btn reg-btn" ng-click="register()">S'enregistrer</button>
                    <button type="reset" class="btn reg-btn" ng-click="reset()">Remettre a zéro</button>
                </div>
            </div>
        </div>
    </form>
  </div>
  <div ng-show="registerView[1]" class="view-container">
      <center>
          <p>Un E-Mail de confirmation vient de vous être envoyé à l'adresse {{ user.mail }}.</p>
          <p>Veuillez cliquer sur le lien pour valider votre compte.</p>
          <em>Pensez a regader dans vos couriers indesirable.</em>
          <br>
          <br>
          <br>
          <p ng-show="registerView[2]">Si vous n'avez pas reçu l'e-mail, merci de <a href="" ng-click="reSend()">cliquer ici</a>.</p>
      </center>
  </div>
</div>
