

<div class="container" ng-controller="profilEditCtrl">
    <fieldset>
        <legend>Profil</legend>
        <input type="text" class="form-control" name="firstname" placeholder="Prénom" ng-model="user.fn"></br>
        <input type="text" class="form-control" name="secondname" placeholder="Nom" ng-model="user.sn"></br>

        <select ng-model="user.dptNb" ng-change="getCities()">
            <option value="" selected disabled>Départements</option>
            <option ng-repeat="dpt in dpts | orderBy:'number'" value="{{dpt.number}}">{{dpt.number}} - {{dpt.name}}</option>
        </select></br>

        <select ng-model="user.city" ng-disabled="!user.dptNb" ng-change="getPCode()">
            <option value="" selected disabled>Ville</option>
            <option ng-repeat="city in cities">{{city}}</option>
        </select></br>

        <select ng-model="user.pcode" ng-disabled="!user.city">
            <option value="" selected disabled>Code Postal</option>
            <option ng-repeat="pcode in pcodes | orderBy:'pcode'">{{pcode}}</option>
        </select></br>

        <select ng-model="user.sexOrientation">
            <option value="" selected disabled>Orientation sexuelle
            <option value="Hetero">Hetero</option>
            <option value="Gay">Gay</option>
            <option value="Bi">Les deux</option>
        </select></br>

        <input type="text" class="form-control" name="job" placeholder="Job" ng-model="user.job"></br>
        tags</br>
        Upload Pic</br>

        <input type="tel" class="form-control" name="tel" placeholder="Téléphone" ng-model="user.phone"></br>
        <textarea rows="4" cols="50" class="form-control" name="desc" placeholder="Description" ng-model="user.desc"></textarea></br>
        <textarea rows="4" cols="50" class="form-control" name="bio" placeholder="Biographie" ng-model="user.bio"></textarea>
    </fieldset>
</div>
